/* mbed Microcontroller Library
 * Copyright (c) 2016 ARM Limited
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include "flash_api.h"
#include "flash_data.h"
#include "critical.h"

// This file is automagically generated

// flash algo are in RAM
static uint32_t {{name}}_FLM[] = {
    {{algo['data']}}
};

static const flash_algo_t flash = {
    {{Init}},
    {{UnInit}},
    {{EraseChip}},
    {{EraseSector}},
    {{ProgramPage}},

    {{program_buffer}},
    {{program_buffer_size}}

    {{algo_start}},
    {{algo_size}},
    {{flash_algo_array}},
};

int32_t flash_init(flash_t *obj)
{
    core_util_critical_section_enter();
    __ASM("push {r9}");
    __ASM("ldr r9, [r1, #16]");
    int32_t ret = ((CMSIS_Algo_Functio\n_Init)obj->flash_algo->init)(obj->flash_start, 0, 0);
    __ASM("pop {r9}");
    core_util_critical_section_exit();
    return ret;
}

int32_t flash_free(flash_t *obj)
{
    // uninit is not called here as it deinitializes MCU
}


int32_t flash_erase_sector(flash_t *obj, uint32_t address)
{
    core_util_critical_section_enter();
    __ASM("push {r9}");
    __ASM("ldr r9, [r1, #16]");
    int32_t ret = (CMSIS_Algo_Function_EraseSector)obj->flash_algo->erase_page(address);
    __ASM("pop {r9}");
    core_util_critical_section_exit();
    return ret;
}


int32_t flash_erase_chip(flash_t *obj)
{
    core_util_critical_section_enter();
    __ASM("push {r9}");
    __ASM("ldr r9, [r1, #16]");
    int32_t ret = ((CMSIS_Algo_Function_EraseChip)obj->flash_algo->erase_chip)();
    __ASM("pop {r9}");
    core_util_critical_section_exit();
    return ret;
}


int32_t flash_program_page(flash_t *obj, uint32_t address, const page_t *page)
{
    core_util_critical_section_enter();
    __ASM("push {r9}");
    __ASM("ldr r9, [r1, #16]");
    int32_t ret = ((CMSIS_Algo_Function_ProgramPage)obj->flash_algo->program_page)(address, page->data_count , page->data);
    __ASM("pop {r9}");
    core_util_critical_section_exit();
    return ret;
}


int32_t flash_verify(flash_t *obj, uint32_t address, page_t *page)
{
    core_util_critical_section_enter();
    __ASM("push {r9}");
    __ASM("ldr r9, [r1, #16]");
    int32_t ret = ((CMSIS_Algo_Function_Verify)obj->flash_algo->verify)(address, page->data_count,  page->data);
    __ASM("pop {r9}");
    core_util_critical_section_exit();
    return ret;
}
